/*.admin-layout {*/
/*    width: 100%;*/
/*    min-height: 100vh;*/
/*    margin: 0;*/

/*    background-color: #ffffff;*/
/*    box-sizing: border-box;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*!* 1024px 이하면 키오스크 규격 적용. *!*/
/*@media screen and (max-width: 1024px) {*/
/*    .admin-layout {*/
/*        max-width: 100%;*/
/*        box-shadow: none;*/
/*    }*/
/*}*/