/* AdminCommon.css - PC 전체화면 채우기 */

.admin-layout {
    width: 100%;
    min-height: 100vh;
    margin: 0;

    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* 모바일/키오스크일 때도 꽉 채우기 (기본값과 동일) */
@media screen and (max-width: 1024px) {
    .admin-layout {
        max-width: 100%;
        box-shadow: none;
    }
}